:root {
  --base-color: #37517e;
  --bs-info: #0dcaf0;
}

.hero-container {
  background: var(--base-color);
}

nav a {
  color: white !important;
}

.dropdown-menu a {
  color: black !important;
}

.text-sm {
  font-size: 0.8rem !important;
}

.animate-image {
  animation: move 1.5s linear infinite alternate;
}

@keyframes move {
  form {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(-10px);
  }
}

.text-blue {
  color: var(--base-color) !important;
}

.gray {
  width: 100px;
  height: 1px;
  background: lightgray;
  margin: auto;
  position: relative;
}

.blue {
  width: 50%;
  height: 2px;
  background: #0dcaf0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-info,
.hover-1 {
  transition: all 0.4s;
}

.hover-info:hover {
  color: var(--bs-info) !important;
}

.bg-blue {
  color: var(--base-color) !important;
}

.hover-1:hover {
  color: var(--bs-info) !important;
}

.animate-card:hover {
  transform: translateY(-10px);
}

animate-card {
  transition: all 0.5s;
}

.work-card:hover img {
  scale: 1.1;
}
.work-card:hover .content {
  transform: translateY(-5px);
}

.work-card img {
  transition: all 0.4s;
}
.work-card .content {
  transition: all 0.4s;
}

.work-card h4 {
  z-index: 444;
  position: relative;
}

.image-container {
  background: linear-gradient(
      to right,
      rgba(38, 68, 103, 0.5),
      rgba(38, 68, 103, 0.6)
    ),
    url("https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp");
}

.class-1:hover {
  background: var(--bs-info);
  color: white;
}

.class-1 {
  transition: 0.2s;
}
